

.navbar-default {
    background-color: #a2aebb;
    /*border-color: #1c3144;*/
    font-family: "Arial";
    font-weight: bolder;
    color: #1c3144;
}
.navbar-default .navbar-nav > li > a {
    color: #1c3144;
    font-family: "Arial";
    font-weight: bolder;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #cfd5dc;
    color: #1c3144;
    font-family: "Arial";
    font-weight: bolder;
}

#banner{
  z-index: -1;
  width: 100%;
  opacity: 0.3;
  margin-top: -2%;
}

.wrapper{
  position: relative;
  top: -50vh;
  margin-bottom: -30vh;
}
.title{
  color: #3f88c5;
  font-family: "Arial";
  font-weight: bolder;
  margin-left: .5%;
  font-size: 8vh;
  text-align: center;
  min-height: 40px;
  min-width: 80px;
}


.bio{
  color: #1c3144;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 3vh;
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 4%;
  text-align: center;
  min-height: 80px;
  min-width: 200px;

}

.miscTiles{
  margin-left: 3%;
  margin-right: none;
  padding-right: none;
  margin-bottom: 5%;
  min-width: 140px;
  min-height: 200px;
}
.miscPics{
  object-fit: contain;
  height: 45%;
  width: 100%;
  z-index: -1;
  border-radius: 4px;
  border: 3px #a2aebb solid;

}
.miscTiles p{
  z-index: 1;
  opacity: 0;
  font-family: "Arial";
  font-weight: bolder;
  color: #1c3144;
  font-size: 2.5vh;
  margin-top: -70%;
  margin-left: 10%;
  vertical-align: middle;
  height: 45%;
  width: 80%;
  text-align: center;

}

.miscTiles:hover p{
  opacity: 1;
  transition: .5s ease;
  /* backface-visibility: hidden; */
}

.miscTiles:hover .miscPics{
  opacity: 0.3;
  transition: .5s ease;
  backface-visibility: hidden;
}

/*
.navbar-default{
  background-color: #a2aebb;
  color: #1c3144;
  background-image: none;
  background-repeat: no-repeat;
  font-family: "Arial";
  font-weight: bolder;
}

/*
#diamond1 {
  z-index: -1;
	width: 0;
	height: 0;
	border: 10vw solid transparent;
	border-bottom-color: #a2aebb;
	position: relative;
	top: -10vw;
  left: -2.5vh
}
#diamond1:after {
	content: '';
	position: absolute;
	left: -10vw;
	top: 10vw;
	width: 0;
	height: 0;
	border: 10vw solid transparent;
	border-top-color: #a2aebb;
}

#diamond1 p {
  z-index: 1;
  color: #3f88c5;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 8vh;
  position: relative;
  top: 14vh;
  left: -11vh;
}

#diamond2 {
  z-index: -1;
	width: 0;
	height: 0;
	border: 20vh solid transparent;
	border-bottom-color: #ffe500;
	position: relative;
	top: -20vh;
  left: -2.5vh
  padding-left: none;
  padding-right: none;
}
#diamond2:after {
	content: '';
	position: absolute;
	left: -20vh;
	top: 20vh;
	width: 0;
	height: 0;
	border: 20vh solid transparent;
	border-top-color: #ffe500;
}
#diamond3 {
  z-index: -1;
	width: 0;
	height: 0;
	border: 20vh solid transparent;
	border-bottom-color: #d00000;
	position: relative;
	top: -20vh;
  left: -2.5vh
  padding-left: none;
  padding-right: none;
}
#diamond3:after {
	content: '';
	position: absolute;
	left: -20vh;
	top: 20vh;
	width: 0;
	height: 0;
	border: 20vh solid transparent;
	border-top-color: #d00000;
}
#diamond4 {
  z-index: -1;
	width: 0;
	height: 0;
	border: 20vh solid transparent;
	border-bottom-color: #1c3144;
	position: relative;
	top: -20vh;
  left: -2.5vh
  padding-left: none;
  padding-right: none;
}
#diamond4:after {
	content: '';
	position: absolute;
	left: -20vh;
	top: 20vh;
	width: 0;
	height: 0;
	border: 20vh solid transparent;
	border-top-color: #1c3144;
}
*/
