
.navbar-default {
    background-color: #a2aebb;
    /*border-color: #1c3144;*/
    font-family: "Arial";
    font-weight: bolder;
    color: #1c3144;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #1c3144;
    font-family: "Arial";
    font-weight: bolder;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #cfd5dc;
    color: #1c3144;
    font-family: "Arial";
    font-weight: bolder;
}

body{
  background-color: #edeeef;
}

#banner{
  z-index: -1;
  height: 61.5vh;
  width: 100vw;
  min-height: 200px;
  /* width: 100%; */
  opacity: 0.3;
  padding-bottom: 25px;
  object-fit: cover;
}


.bio{
  color: #1c3144;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 60px;
  margin-top: -43vh;
  margin-bottom: 38vh;
  opacity: 1;
  /* margin: 10%;
  margin-top: 5%;
  margin-bottom: 4%; */
  text-align: center;

}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  /* padding-right: 12.5vw; */
  max-width: 1200px;
  margin-left: 12.5vw;
  margin-top: 25px;
  margin-bottom: 80px;
}


div {flex: 1;}


.projectImage{
  width: 450px;
  margin-right: 10px;
  box-shadow: 3px 2px 2px 1px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
}


.title{
  color: #3f88c5;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 40px;
  margin-top: 15px; 
}

.projectDescription{
  color: #1c3144;
  font-family: "Arial";
  font-weight: bolder;
  font-size: 15px;
  margin-top: -15px;
}
